<!-- Sidebar -->
<div class="sidebar">
    <!-- Sidebar user (optional) -->
    

    <!-- SidebarSearch Form -->
    @*<div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>*@

    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <!-- Add icons to the links using the .nav-icon class
    with font-awesome or any other icon font library -->
            <li class="nav-item">
                <a href="/admin/Category" class="nav-link">
                    <i class="nav-icon fas fa-tachometer-alt"></i>
                    <p>
                        Danh mục
                        @*<i class="right fas fa-angle-left"></i>*@
                    </p>
                </a>
                @*<ul class="nav nav-treeview">
                <li class="nav-item">
                    <a href="~/Content/Clients/index.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v1</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Content/Clients/index2.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v2</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="~/Content/Clients/index3.html" class="nav-link">
                        <i class="far fa-circle nav-icon"></i>
                        <p>Dashboard v3</p>
                    </a>
                </li>
            </ul>*@
            </li>
            <li class="nav-item">
                <a href="/admin/role" class="nav-link">
                    @*<i class="nav-icon fas fa-th"></i>*@
                    <i class="fas fa-users-cog"></i>
                    <p>
                        Quyền
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/account" class="nav-link">
                    <i class="fas fa-user"></i>
                    <p>
                        Tài khoản
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin" class="nav-link">
                    @*<i class="nav-icon fas fa-tachometer-alt"></i>*@
                    <i class="fas fa-tasks"></i>
                    <p>
                        Quản lý sản phẩm
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item">
                        <a href="~/admin/productcategory" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Danh mục</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/products" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Sản phẩm</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item">
                <a href="/admin/products/indexkho" class="nav-link">
                    @*<i class="nav-icon fas fa-shopping-bag"></i>*@
                    <i class="fa fa-archive"></i>
                    <p>
                        Kho hàng
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/order" class="nav-link">
                    @*<i class="nav-icon fas fa-th"></i>*@
                    <i class="fas fa-cart-arrow-down"></i>
                    <p>
                        Đơn hàng
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/news" class="nav-link">
                    @*<i class="nav-icon fas fa-th"></i>*@
                    <i class="fas fa-newspaper"></i>
                    <p>
                        Tin tức

                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/posts" class="nav-link">
                    @*<i class="nav-icon fas fa-th"></i>*@
                    <i class="fas fa-blog"></i>
                    <p>
                        Bài viết
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/posts" class="nav-link">
                    <i class="fas fa-ad"></i>
                    <p>
                        Quảng cáo
                        @*<span class="right badge badge-danger">New</span>*@
                    </p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/admin/Statistical" class="nav-link">
                    <i class="fas fa-signal"></i>
                    <p>
                        Thống kê doanh thu
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/admin/SettingSystem" class="nav-link">
                    <i class="fas fa-tools"></i>
                    <p>
                        Cấu hình hệ thống
                    </p>
                </a>
            </li>
            <li class="nav-item">
                <a href="javascript:document.getElementById('logOffForm').submit()" class="nav-link">
                    @*<i class="nav-icon fas fa-th"></i>*@
                    <i class="fas fa-sign-out-alt"></i>
                    <p>
                        Đăng xuất
                    </p>
                </a>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
<!-- /.sidebar -->

@if (Request.IsAuthenticated) 
{ 
    <div style="display:none">

        @using(Html.BeginForm("LogOff","Account", FormMethod.Post, new { @id = "logOffForm" }))
        {
            @Html.AntiForgeryToken()
        }
    
    </div>
}